.text-normal {
    text-transform: none !important;
}

.gallery-video {
    font-size: 5rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.member-list {
    background-color: #62cdc217;
    margin: 20px 0 0 0;
    padding: 0 20px 20px 0;

    border-radius: 15px;
}

.member-padding {
    padding-top: 30px !important
}