<div>

    <!-- Header Area -->
    <header class="header" id="home">
        <!-- Topbar -->
        <div class="topbar">
            <div class="row">
                <div class="col-12 d-flex">
                    <div class="logo w-25">
                        <img class="logo-img zoom" src="img/logo-new.jpg">
                    </div>
                    <div class="main-label justify-content-center">શ્રી ઉનેવાળ બ્રહ્મસમાજ સેવા ટ્રસ્ટ</div>
                    <div class="logo w-25 justify-content-end pr-2">
                        <img class="logo-img-right" src="img/logo-mahakal.jpg">
                    </div>
                </div>
                <!-- <div class="col-2">
                <div class="logo-right">
                    <img class="logo-img" src="img/logo-new.jpg">
                </div>
            </div> -->
            </div>
        </div>
        <!-- End Topbar -->
        <!-- Header Inner -->
        <div class="header-inner">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-12">
                            <div class="main-menu">
                                <nav class="navigation">
                                    <ul class="nav menu">
                                        <li><a href="#home">Home</a></li>
                                        <li><a href="javascript:void(0)">2025<i class="icofont-rounded-down"></i></a>
                                            <ul class="dropdown">
                                                <li><a href="#upcoming">આવનાર પ્રસંગો</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">2024<i class="icofont-rounded-down"></i></a>
                                            <ul class="dropdown">
                                                <li><a href="#navratri2024">નવરાત્રી મહોત્સવ</a></li>
                                                <li><a href="#cricket2024">ક્રિકેટ ટુર્નામેન્ટ</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">2023<i class="icofont-rounded-down"></i></a>
                                            <ul class="dropdown">
                                                <li><a href="#navratri2023">નવરાત્રી મહોત્સવ</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">2022<i class="icofont-rounded-down"></i></a>
                                            <ul class="dropdown">
                                                <li><a href="#patotsav2022">પાટોત્સવ</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#highlights">ફોટો અને વિડિઓ ગેલેરી</a> </li>
                                        <li><a href="#contactus">સંપર્ક કરો</a></li>
                                        <li><a href="#aboutus">અમારા વિશે</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Header Inner -->
    </header>
    <!-- End Header Area -->

    <!-- Slider Area -->
    <section class="slider">
        <div class="hero-slider">
            <!-- Start Single Slider -->
            <div class="single-slider">
                <div class="container">
                    <div class="row">
                        <div class="col-6 d-flex">
                            <div class="text">
                                <h1>માતાજીની નવચંડી, વડોદરા</h1>
                                <h4 class="pt-2">તા. 20/04/2025</h4>
                                <div class="info-slider">
                                    <p>
                                        શ્રી ઉનેવાળ સમાજનું સ્નેહ મિલન(2025) તથા યજ્ઞોપવિત અને નવચંડી 20 એપ્રિલના રોજ
                                        રાખેલ
                                        છે.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 img-dashboard">
                            <img class="slider-img h-100" src="/img/Patotsav_vadodara_2025.jpeg"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider">
                <div class="container">
                    <div class="row">
                        <div class="col-6 d-flex">
                            <div class="text">
                                <h1>માતાજીની નવચંડી, શુક્લતીર્થ</h1>
                                <h4 class="pt-2">તા. 12/04/2025</h4>
                                <div class="info-slider">
                                    <p>
                                        શ્રી ઉનેવાળ સમાજની શુક્લતીર્થ ખાતેની(2025) યજ્ઞોપવિત અને
                                        નવચંડી 12 એપ્રિલના રોજ રાખેલ છે.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 img-dashboard d-none">
                            <img class="slider-img h-100" src="img/Patotsav_vadodara_2025.jpeg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider">
                <div class="container">
                    <div class="row">
                        <div class="col-6 d-flex">
                            <div class="text">
                                <h1>કનકાઈ માતાનો ઈતિહાસ</h1>
                                <!-- <h4 class="pt-2">-ઇતિહાસ</h4> -->
                                <div class="info-slider">
                                    <p>
                                        કનકાઈ માતા મંદિર, ગુજરાત, ભારતના ગીર રાષ્ટ્રીય ઉદ્યાનમાં આવેલું, દેવી કનકાઈ
                                        માતાને
                                        સમર્પિત એક આદરણીય હિન્દુ મંદિર છે.
                                        મંદિરની ઉત્પત્તિ સ્થાનિક દંતકથાઓ અને ઐતિહાસિક અહેવાલોથી ભરપૂર છે.
                                    </p>
                                    <p class="pt-2">
                                        <b>ઐતિહાસિક પૃષ્ઠભૂમિ:</b>
                                        સ્થાનિક માન્યતા મુજબ, કનકાઈ શહેરની સ્થાપના રાજા કનક ચાવડાએ 8મી સદીમાં કરી હતી,
                                        જેમાં દેવી કનકાઈ નગરના પ્રમુખ દેવતા તરીકે સ્થાપિત થઈ હતી.
                                    </p>
                                    <p class="pt-2">
                                        અન્ય એક દંતકથા મંદિરની ઉત્પત્તિને એક સમર્પિત અનુયાયી દ્વારા અનુભવાયેલી દૈવી
                                        દ્રષ્ટિને આભારી છે, જે દેવી દ્વારા આશીર્વાદિત હોવાનું માનવામાં આવતા સ્થળ પર
                                        તેનું
                                        બાંધકામ તરફ દોરી જાય છે.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 img-dashboard">
                            <img class="slider-img h-100" src="img/kankai-gir.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider">
                <div class="container">
                    <div class="row">
                        <div class="col-6 d-flex">
                            <div class="text">
                                <h1>કનકાઈ મંદિર - પરીવાહન</h1>
                                <!-- <h4 class="pt-2">-પરિવહન</h4> -->
                                <div class="info-slider">
                                    <p>
                                        જૂનાગઢથી દરરોજ સવારે 8 વાગ્યે ઉપડતી બસ છે, મંદિરમાં એક કલાક રોકાય છે અને સવારે
                                        9:45 વાગ્યે પરત ફરવા માટે રવાના થાય છે.
                                    </p>
                                    <p>
                                        માર્ગ દ્વારા: ગીર રાષ્ટ્રીય ઉદ્યાન જૂનાગઢથી 60 કિમી દૂર છે, જે મુલાકાત લેવા
                                        માટેનું સૌથી સામાન્ય સ્થળ છે, અને અમદાવાદથી 360 કિમી દૂર છે. મુખ્ય કેન્દ્ર સાસણ
                                        ગીર છે જ્યાં રેલ્વે સ્ટેશનની સામે વન વિભાગ દ્વારા જાળવવામાં આવેલું ફોરેસ્ટ ગેસ્ટ
                                        હાઉસ છે. સાસણ તેમજ નજીકના સ્થળોએ હોટલ અને ગેસ્ટ-હાઉસ છે. મંદિરમાં ખાનગી વાહનો
                                        દ્વારા પહોંચી શકાય છે. સ્થળની
                                        મુલાકાત લેવા માટે સ્થાનિક ટેક્સી ભાડે લેવી વધુ સારું છે.
                                    </p>
                                    <p>
                                        હવાઈ માર્ગ: નજીકનું એરપોર્ટ રાજકોટ છે પરંતુ તે ભારતના મુખ્ય એરપોર્ટ સાથે સારી
                                        રીતે જોડાયેલ નથી, તેથી યોગ્ય એરપોર્ટ અમદાવાદ છે. અમદાવાદથી ટ્રેન કે વાહન દ્વારા
                                        જઈ શકાય છે. કંકાઈમાં મોટાભાગના દિવસોમાં વાતાવરણ હળવું રહે છે.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 img-dashboard">
                            <img class="slider-img h-100" src="img/kankai-gir-1.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider">
                <div class="container">
                    <div class="row">
                        <div class="col-6 d-flex">
                            <div class="text">
                                <h1>કનકાઈ મંદિર</h1>
                                <h4 class="pt-2">-શુક્લતીર્થ</h4>
                                <div class="info-slider">
                                    <p>
                                        ॐ कुलदेवीये च विधमहे | गीरवासिनी च धीमही। तन्नो कनके प्रचोदयात ||
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 img-dashboard">
                            <img class="slider-img" src="img/Kankai-Shuklatirth.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ End Slider Area -->


    <!-- Start Fun-facts -->
    <div id="fun-facts" class="fun-facts section overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Fun -->
                    <div class="single-fun">
                        <i class="icofont icofont-home"></i>
                        <div class="content">
                            <span class="counter">1989</span>
                            <p>સ્થાપના વર્ષ 10/09/1989</p>
                        </div>
                    </div>
                    <!-- End Single Fun -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Fun -->
                    <div class="single-fun">
                        <i class="icofont icofont-user-alt-3"></i>
                        <div class="content">
                            <span class="counter">849</span>
                            <p>સમાજ ના કુલ સભાસદો</p>
                        </div>
                    </div>
                    <!-- End Single Fun -->
                </div>
            </div>
        </div>
    </div>
    <!--/ End Fun-facts -->

    <section class="why-choose section" id="upcoming">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>આવનાર પ્રસંગ - 2025</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12" id="toggle_fullscreen_upcoming">
                    <button class="p-1 mb-1 fa fa-expand" title="full screen on/off" id="btnFullScreen_upcoming"
                        onclick="enterFullScreen('upcoming')"></button>
                    <section class="slider">
                        <div class="hero-slider">
                            <div class="single-slider">
                                <div class="row">
                                    <div class="col-7 extra-section">
                                        <h4><b>નવચંડી, વડોદરા</b></h4>
                                        <h6 class="p-1">તા. 20/04/2025</h6>
                                        <h6 class="pt-4">શ્રી ઉનેવાળ સમાજનું સ્નેહ મિલન(2025) તથા યજ્ઞોપવિત અને
                                            નવચંડી
                                            20 એપ્રિલના રોજ રાખેલ છે.</h6>
                                    </div>
                                    <div class="col-5 pt-3 pb-5">
                                        <img style="width: 389px" src="../../img/Patotsav_vadodara_2025.jpeg">
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="row">
                                    <div class="col-7 extra-section">
                                        <h4><b>નવચંડી, શુક્લતીર્થ</b></h4>
                                        <h6 class="pt-4">તા. 12/04/2025</h6>
                                        <h6 class="pt-2">શ્રી ઉનેવાળ સમાજની શુક્લતીર્થ ખાતેની(2025) યજ્ઞોપવિત અને
                                            નવચંડી 12 એપ્રિલના રોજ રાખેલ છે.</h6>
                                    </div>
                                    <div class="col-5 pt-3 pb-5 d-none">
                                        <img style="width: 389px" src="../../img/Patotsav_vadodara_2025.jpeg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>

    <!-- Start Why choose -->
    <section class="why-choose  section" id="navratri2024">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>નવરાત્રી મહોત્સવ 2024</h2>
                        <p>ફોટો ગેલેરી</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <section class="slider" id="toggle_fullscreen_navratri2024">
                        <button class="p-1 mb-1 fa fa-expand" title="full screen on/off" id="btnFullScreen_navratri2024"
                            onclick="enterFullScreen('navratri2024')"></button>
                        <div class="hero-slider">
                            <div class="single-slider">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 gallery-img">
                                            <img class="img" src="../../img/garba-2024-1.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 gallery-img">
                                            <img class="img" src="../../img/garba-2024-2.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 gallery-img">
                                            <img class="img" src="../../img/garba-2024-3.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 gallery-img">
                                            <a href="../../img/garba-24-1.mp4" title="play"
                                                class="gallery-video video video-popup mfp-iframe">
                                                <i class="fa fa-play video-file">
                                                    વિડિઓ જોવા ક્લિક કરો
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 gallery-img">
                                            <a href="../../img/garba-24-2.mp4" title="play"
                                                class="gallery-video video video-popup mfp-iframe">
                                                <i class="fa fa-play video-file">
                                                    વિડિઓ જોવા ક્લિક કરો
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 gallery-img">
                                            <a href="../../img/garba-24-3.mp4" title="play"
                                                class="gallery-video video video-popup mfp-iframe">
                                                <i class="fa fa-play video-file">
                                                    વિડિઓ જોવા ક્લિક કરો
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <section class="why-choose section" id="cricket2024">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>ક્રિકેટ ટુર્નામેન્ટ 2024</h2>
                        <p>ફોટો ગેલેરી</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12" id="toggle_fullscreen_cricket2024">
                    <button class="p-1 mb-1 fa fa-expand" title="full screen on/off" id="btnFullScreen_cricket2024"
                        onclick="enterFullScreen('cricket2024')"></button>
                    <div class="hero-slider">
                        <div class="single-slider">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 gallery-img">
                                        <img class="img" src="../../img/cricket-2024/pic-1.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-slider">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 gallery-img">
                                        <img class="img" src="../../img/cricket-2024/pic-2.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-slider">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 gallery-img">
                                        <img class="img" src="../../img/cricket-2024/pic-3.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-slider">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 gallery-img">
                                        <img class="img" src="../../img/cricket-2024/pic-4.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-slider">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 gallery-img">
                                        <img class="img" src="../../img/cricket-2024/pic-5.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-slider">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 gallery-img">
                                        <img class="img" src="../../img/cricket-2024/pic-6.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-slider">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 gallery-img">
                                        <img class="img" src="../../img/cricket-2024/pic-7.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="why-choose section" id="navratri2023">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>નવરાત્રી મહોત્સવ 2023</h2>
                        <p>ફોટો ગેલેરી</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12" id="toggle_fullscreen_navratri2023">
                    <button class="p-1 mb-1 fa fa-expand" title="full screen on/off" id="btnFullScreen_navratri2023"
                        onclick="enterFullScreen('navratri2023')"></button>
                    <section class="slider">
                        <div class="hero-slider">
                            <div class="single-slider">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 gallery-img">
                                            <img class="img" src="../../img/garba-2023/pic-1.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 gallery-img">
                                            <img class="img" src="../../img/garba-2023/pic-2.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 gallery-img">
                                            <img class="img" src="../../img/garba-2023/pic-3.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 gallery-img">
                                            <img class="img" src="img/garba-2023/pic-4.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 gallery-img">
                                            <img class="img" src="../../img/garba-2023/pic-5.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 gallery-img">
                                            <a href="../../img/garba-2023/data-1.mp4" title="play"
                                                class="gallery-video video video-popup mfp-iframe">
                                                <i class="fa fa-play video-file">
                                                    વિડિઓ જોવા ક્લિક કરો
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 gallery-img">
                                            <a href="../../img/garba-2023/data-2.mp4" title="play"
                                                class="gallery-video video video-popup mfp-iframe">
                                                <i class="fa fa-play video-file">
                                                    વિડિઓ જોવા ક્લિક કરો
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 gallery-img">
                                            <a href="../../img/garba-2023/data-3.mp4" title="play"
                                                class="gallery-video video video-popup mfp-iframe">
                                                <i class="fa fa-play video-file">
                                                    વિડિઓ જોવા ક્લિક કરો
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 gallery-img">
                                            <a href="../../img/garba-2023/data-4.mp4" title="play"
                                                class="gallery-video video video-popup mfp-iframe">
                                                <i class="fa fa-play video-file">
                                                    વિડિઓ જોવા ક્લિક કરો
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <section class="why-choose section" id="patotsav2022">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>પાટોત્સવ 2022</h2>
                        <p>ફોટો ગેલેરી</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12" id="toggle_fullscreen_patotsav2022">
                    <button class="p-1 mb-1 fa fa-expand" title="full screen on/off" id="btnFullScreen_patotsav2022"
                        onclick="enterFullScreen('patotsav2022')"></button>
                    <section class="slider">
                        <div class="hero-slider">
                            <div class="single-slider">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 gallery-img">
                                            <img class="img" src="../../img/patotsav-2022/other/other-pic (1).jpeg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 gallery-img">
                                            <img class="img" src="../../img/patotsav-2022/other/other-pic (2).jpeg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 gallery-img">
                                            <img class="img" src="../../img/patotsav-2022/other/other-pic (3).jpeg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 gallery-img">
                                            <img class="img" src="../../img/patotsav-2022/other/other-pic (4).jpeg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 gallery-img">
                                            <img class="img" src="../../img/patotsav-2022/other/other-pic (5).jpeg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 gallery-img">
                                            <img class="img" src="../../img/patotsav-2022/other/other-pic (6).jpeg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 gallery-img">
                                            <img class="img" src="../../img/patotsav-2022/other/other-pic (19).jpeg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 gallery-img">
                                            <img class="img" src="../../img/patotsav-2022/other/other-pic (18).jpeg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 gallery-img">
                                            <img class="img" src="../../img/patotsav-2022/other/other-pic (16).jpeg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 gallery-img">
                                            <img class="img" src="../../img/patotsav-2022/other/other-pic (13).jpeg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 gallery-img">
                                            <img class="img" src="../../img/patotsav-2022/other/other-pic (12).jpeg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <!--/ End Why choose -->

    <!-- Start portfolio -->
    <section class="portfolio section" id="highlights">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>હાઈલાઈટ્સ - ફોટો અને વિડિઓ ગેલેરી </h2>
                        <p>જય કનકાઈ, શ્રી ઉનેવાળ સમાજની હમણાં સુધીની ઇવેન્ટ ની યાદગાર ક્ષણો.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row" id="toggle_fullscreen_highlights">
                <button class="p-1 mb-1 ml-3 fa fa-expand" title="full screen on/off" id="btnFullScreen_highlights"
                    onclick="enterFullScreen('highlights')">
                </button>

                <div class="col-lg-12 col-12">
                    <div class="owl-carousel portfolio-slider">
                        <div class="single-pf">
                            <img src="img/patotsav-2022/prize/pic- (1).jpeg" alt="#">
                        </div>
                        <div class="single-pf">
                            <img src="img/patotsav-2022/prize/pic- (11).jpeg" alt="#">
                        </div>
                        <div class="single-pf">
                            <img src="img/patotsav-2022/prize/pic- (13).jpeg" alt="#">
                        </div>
                        <div class="single-pf">
                            <img src="img/patotsav-2022/prize/pic- (15).jpeg" alt="#">
                        </div>
                        <div class="single-pf">
                            <img src="img/patotsav-2022/prize/pic- (16).jpeg" alt="#">
                        </div>
                        <div class="single-pf">
                            <img src="img/patotsav-2022/prize/pic- (26).jpeg" alt="#">
                        </div>
                        <div class="single-pf">
                            <img src="img/patotsav-2022/prize/pic- (28).jpeg" alt="#">
                        </div>
                        <div class="single-pf">
                            <img src="img/patotsav-2022/prize/pic- (30).jpeg" alt="#">
                        </div>
                        <div class="single-pf">
                            <img src="img/patotsav-2022/prize/pic- (37).jpeg" alt="#">
                        </div>
                        <div class="single-pf">
                            <img src="img/patotsav-2022/prize/pic- (33).jpeg" alt="#">
                        </div>
                        <div class="single-pf">
                            <img src="img/patotsav-2022/prize/pic- (45).jpeg" alt="#">
                        </div>
                        <div class="single-pf">
                            <img src="img/patotsav-2022/prize/pic- (46).jpeg" alt="#">
                        </div>
                        <div class="single-pf">
                            <img src="img/patotsav-2022/prize/pic- (58).jpeg" alt="#">
                        </div>
                        <div class="single-pf">
                            <img src="img/patotsav-2022/prize/pic- (67).jpeg" alt="#">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ End portfolio -->

    <section id="contactus" class="contact-us section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="contact-us-form">
                        <h2>અમારો સંપર્ક કરો</h2>
                        <h5>જો તમને કોઈ પ્રશ્નો હોય, તો કૃપા કરીને નીચે અપેલા નંબર પર અમારો સંપર્ક કરો.</h5>
                        <div class="contact-info">
                            <div class="row w-100">
                                <!-- single-info -->
                                <div class="col-lg-6 col-12 p-1">
                                    <div class="single-info">
                                        <div class="content content-single-info">
                                            <h3 class="position-absolute pt-3 pl-1">+91 97245 13210</h3>
                                            <p class="p-contact">
                                                <i class="icofont icofont-ui-call position-static"></i>બિપિન ભટ્ટ
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/End single-info -->
                                <!-- single-info -->
                                <div class="col-lg-6 col-12 p-1">
                                    <div class="single-info">
                                        <div class="content content-single-info">
                                            <h3 class="position-absolute pt-3 pl-1">+91 99989 59281</h3>
                                            <p class="p-contact">
                                                <i class="icofont icofont-ui-call position-static"></i>જયેશ ભટ્ટ
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/End single-info -->
                                <!-- single-info -->
                                <div class="col-lg-6 col-12 p-1">
                                    <div class="single-info">
                                        <div class="content content-single-info">
                                            <h3 class="position-absolute pt-3 pl-1">+91 94269 47963</h3>
                                            <p class="p-contact">
                                                <i class="icofont icofont-ui-call position-static"></i>
                                                અલ્કેશ પુરોહિત
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 p-1">
                                    <div class="single-info">
                                        <div class="content content-single-info">
                                            <h3 class="position-absolute pt-3 pl-1">+91 75748 88083</h3>
                                            <p class="p-contact"><i
                                                    class="icofont icofont-ui-call position-static"></i>ગૌરાંગ પાઠક</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contact-us-form">
                        <h3 class="h3-sub">ટ્રસ્ટના સભ્યોની યાદી</h3>
                        <div class="row pt-4 pl-3">
                            <div class="col-lg-2 col-12 p-1">
                                <div class="single-info">
                                    <div class="content content-single-info">
                                        <h3 class="position-absolute pt-3">હિમાંશુ પુરોહિત</h3>
                                        <p class="p-contact">પ્રમુખ </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-12 p-1">
                                <div class="single-info">
                                    <div class="content content-single-info">
                                        <h3 class="position-absolute pt-3">ગૌરાંગ પાઠક</h3>
                                        <p class="p-contact">ઉપપ્રમુખ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-12 p-1">
                                <div class="single-info">
                                    <div class="content content-single-info">
                                        <h3 class="position-absolute pt-3">શ્રીમતી હીના શુક્લ</h3>
                                        <p class="p-contact">સચિવ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-12 p-1">
                                <div class="single-info">
                                    <div class="content content-single-info">
                                        <h3 class="position-absolute pt-3">મુકુંદભાઈ જોષી</h3>
                                        <p class="p-contact">સંયુક્ત સચિવ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-12 p-1">
                                <div class="single-info">
                                    <div class="content content-single-info">
                                        <h3 class="position-absolute pt-3">ચૈતન્ય પાઠક</h3>
                                        <p class="p-contact">ખજાનચી</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-12 p-1">
                                <div class="single-info">
                                    <div class="content content-single-info">
                                        <h3 class="position-absolute pt-3">જયેશકુમાર ભટ્ટ</h3>
                                        <p class="p-contact">સભ્ય</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-12 p-1">
                                <div class="single-info">
                                    <div class="content content-single-info">
                                        <h3 class="position-absolute pt-3">નીતિન પુરોહિત</h3>
                                        <p class="p-contact">સભ્ય</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-12 p-1">
                                <div class="single-info">
                                    <div class="content content-single-info">
                                        <h3 class="position-absolute pt-3">નીરવ જોશી</h3>
                                        <p class="p-contact">સભ્ય</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-12 p-1">
                                <div class="single-info">
                                    <div class="content content-single-info">
                                        <h3 class="position-absolute pt-3">ચેતન પુરોહિત</h3>
                                        <p class="p-contact">સભ્ય</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-12 p-1">
                                <div class="single-info">
                                    <div class="content content-single-info">
                                        <h3 class="position-absolute pt-3">મનોજ જોષી</h3>
                                        <p class="p-contact">સભ્ય</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-12 p-1">
                                <div class="single-info">
                                    <div class="content content-single-info">
                                        <h3 class="position-absolute pt-3">મિતેશ પુરોહિત</h3>
                                        <p class="p-contact">સભ્ય</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contact-us-form">
                        <h3 class="h3-sub">કાર્યકર્તાઓની યાદી</h3>
                        <h5 class="pt-4">જે કોઈ વ્યક્તિ સમાજમાં સ્વયંસેવક (કાર્યકર) તરીકે જોડાવા માંગતું હોઈ તો ઉપરના
                            આપેલા માંથી કોઈ પણ નંબર પર કોલ કરવા વિનંતી.</h5>
                        <div class="row pt-4 pl-3">
                            <div class="col-lg-2 col-12 p-2">
                                <div class="single-info karyakarta">
                                    <div class="content content-single-info">
                                        <h3 class="position-absolute pt-3">ઉર્વેશ પુરોહિત</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-12 p-2">
                                <div class="single-info karyakarta">
                                    <div class="content content-single-info">
                                        <h3 class="position-absolute pt-3">મિતેષ જોશી</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-12 p-2">
                                <div class="single-info karyakarta">
                                    <div class="content content-single-info">
                                        <h3 class="position-absolute pt-3">કેયુર ભટ્ટ</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-12 p-2">
                                <div class="single-info karyakarta">
                                    <div class="content content-single-info">
                                        <h3 class="position-absolute pt-3">મનીષ જોશી</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="aboutus" class="contact-us section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="contact-us-form">
                        <h2>શ્રી ઉનેવાળ બ્રહ્મસમાજ સેવા ટ્રસ્ટની સંક્ષિપ્ત માહિતી</h2>
                        <h5>શ્રી ઉનેવાળ બ્રહ્મસમાજ સેવા ટ્રસ્ટ, વડોદરા ધ્વારા સંચાલિત સેવા ટ્રસ્ટ છે. આ સંસ્થા ચલાવાવનો
                            અમારો ઉદ્દેશ્ય સમાજલક્ષી કાર્યને, માં કનકાઈના આશીર્વાદ
                            સાથે સમાજના પ્રત્યેક વ્યકિત સુધી પહોંચાડવાનો છે.</h5>
                        <h5 class="pt-3">સામાજિક વિકાસ એ એ પ્રકારનો વિકાસ છે જે માનવ સમાજના કલ્યાણને પ્રોત્સાહિત કરે છે.
                            આમાં શિક્ષણ, આરોગ્ય, ગરીબી નિવારણ, અને સંવેદનશીલતા જેવા ક્ષેત્રોનો સમાવેશ થાય છે. સામાજિક
                            વિકાસ માટે સામૂહિક પ્રયત્નો આવશ્યક છે. આથી, દરેક વ્યક્તિને અવસરો મળી શકે, અને એક સમૃદ્ધ,
                            સકારાત્મક અને નિષ્કલંક સમાજ ઊભો થાય.</h5>
                        <h5 class="pt-3">
                            ઉનેવાળ સમાજનીઆ પહેલ રૂપે સમાજના દરેક વ્યક્તિ સમાજના કલ્યાણ માટે આગળ આવે અને સમાજમાં
                            જોડાઈ એવી આશા રાખીએ છે.
                        </h5>
                        <h5 class="pt-3">
                            જય કનકાઈ!
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Footer Area -->
    <footer id="footer" class="footer ">
        <!-- Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer">
                            <h2>Follow</h2>
                            <!-- Social -->
                            <ul class="social">
                                <li><a href="https://www.facebook.com/profile.php?id=61572570989481" target="_blank">
                                        <i class="icofont-facebook"></i></a>
                                </li>
                                <li><a target="_blank" href="https://www.instagram.com/ubs.yuva/">
                                        <i class="icofont-instagram"></i>
                                    </a>
                                </li>
                                <li><a href="https://www.youtube.com/@unewadbrahmasamaj-yuva8113" target="_blank">
                                        <i class="icofont-youtube"></i></a>
                                </li>
                            </ul>
                            <!-- End Social -->
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </footer>
    <!--/ End Footer Area -->   
</div>